*.py[c|o]
*.egg
*.egg-info
/build
/dist
/nbproject/
pip-log.txt
/.project
/.pydevproject
/include
/lib
/lib64
/bin
/virtualenv

*.bak
*/build/*
*/_build/*
*/_build/latex/*

*.class
#*.png
.version
nosetests.xml

/distribute_setup.py

.*
!.git*     
!.travis*
!.coveragerc


sloccount.sc
*.prefs
MANIFEST

docs/api/*

*.log

Vagrantfile.osx*.rb
Vagrantfile.win*.rb

testout