pytest
pyvirtualdisplay
pillow
python-xlib
pyobjc-framework-Quartz ; platform_system == 'Darwin'
pyobjc-framework-LaunchServices; platform_system == 'Darwin'
pywin32 ; platform_system == 'Windows'
mypy
flake8

# TODO: pygame 2.2 error on MacOS
pygame==2.1.2 ; platform_system == 'Darwin'
pygame>=2.2 ; platform_system != 'Darwin'
